@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #4c4c4c;
}

table {
	border-radius: 2em;
}

th,td {
	padding-left: 0.5em;
	padding-right: 0.5em;
	border-left: 1px solid rgb(38, 38, 38);
}

thead {
	border-bottom: 2px solid black;
	background-color: #415c41;
}

tbody>tr:nth-child(odd) {
	background-color: #65a665;
}

tr:nth-child(even) {
	background-color: #77a677;
}
